@font-face {
    font-family: customFont;
    src: url(./LuckiestGuy-Regular.ttf);
  }
*{
    margin: 0;
    padding: 0;
    font-family: customFont;
}
body{
    background-image: url(liquid-cheese.svg);
    background-size: 100%;
    display: flex;
    justify-content: center;
}
#smallArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    width: 50rem;
    height: 40rem;
    flex-wrap: wrap;
    margin: 1rem;
    padding: 1rem;
}
div{
    margin-left: 20rem;
}
button{
    width: 150px;
    height: 50px;
    margin: 1rem;
}